{% extends "try.html" %} {% block body %}

{%  if tables|length>0  %}
<div class="row">
<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <td>Current Tournaments</td>
            </tr>
            <tr>
                <td>DATE</td>
                <td>NAME</td>
                <td>LOCATION</td>
            </tr>
        </thead>
        <tbody>
            {% for tr in tables %}
            <tr>
                <td>{{tr[0]}}</td>
                <td><a href={{tr[3]}}>{{tr[1]}}</a></td>
                <td>{{tr[2]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endif %}

{% if tables2|length>0 %}
<div class="row">
    <div class="col-md-12">
        <table class="table">
        <thead>
            <tr>
                <td>Upcoming Tournaments</td>
            </tr>
            <tr>
                <td>DATE</td>
                <td>NAME</td>
                <td>LOCATION</td>
            </tr>
        </thead>
        <tbody>
            {% for tr in tables2 %}
            <tr>
                <td>{{tr[0]}}</td>
                <td><a href={{tr[3]}}>{{tr[1]}}</a></td>
                <td>{{tr[2]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    </div>
</div>
{% endif %}


{% endblock %}
