<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>All things tennis</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
  <script src="https://cdn.socket.io/socket.io-1.4.0.js"></script>
  <script src="{{url_for('static',filename="jquery.js")}}"></script>
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename="index.css")}}">
</head>

<body>

  <header>
    <div class="container-fluid">
      <div class="row">
        <main>
          <p>
            <button disabled onClick="hello()" class="js-push-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"> Enable Push Messaging
</button>
</p>
<section class="subscription-details js-subscription-details ">
  <pre><code id="ele" class="js-subscription-json"></code></pre>
</section>
</main>
</div>
<div class="row">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/schedule">Schedule</a></li>
    <li role="presentation"><a href="/rankings">Rankings</a></li>
  </ul>
</div>
</div>
</header>


<script type="text/javascript"  src="{{url_for('static',filename="main.js")}}"></script>

<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script>


                                         function hello() {
                                           console.log("clicked")
                                           var socket = io.connect("http://localhost:5000")
                                           setTimeout(delay, 1000)
                                           function delay() {
                                             console.log(document.getElementById("ele").innerHTML);
                                             var x = document.getElementById("ele").innerHTML
                                             socket.emit("subscription_id", x)
                                           }
                                         }


  </script>
  <script>
  window.onload= function() {
    console.log("onload works")
    var socket = io.connect("http://localhost:5000")
   //var t = $('.js-push-btn').text();
    //console.log(t)
    setTimeout(delay1, 1000)
    function delay1(){

    
      console.log(document.getElementById("ele").innerHTML);
      var x = document.getElementById("ele").innerHTML
      socket.emit("subscription_id", x)
    
  }
  }
</script>
{% block body%} {% endblock %}
</body>

</html>